<!-- ADDING LOCATIONS-->

<h2 style="text-align:center">Set your locations</h2>
<p *ngIf="locations.length">Well done! Keep adding!</p>
<mat-form-field>
  <input matInput type="text" [(ngModel)]="locationName"/>
  <mat-error>That's wrong</mat-error>
</mat-form-field>
<button
  class="button__add-locations"
  mat-flat-button
  color="accent"
  (click)="addLocation()"
>
  Add Location
</button>
<!-- <div *ngFor="let location of locations">{{ location }}</div> 
-->
<mat-accordion>
<location-item
  *ngFor="let location of locations"
  [locationName]="location"
></location-item>
</mat-accordion>



<!-- FORMS
the above can also be achieved with forms

(locationClicked)="onRemoveLocation(location)"
-->
