<mat-grid-list cols="3" gutterSize="40px" rowHeight="200px">
  <mat-grid-tile>
    <mat-grid-tile-header>
      <h3>Your unique countries:</h3>
    </mat-grid-tile-header>
    <mat-list-item *ngIf="!uniqueCountries">None</mat-list-item>
    <mat-list *ngFor="let item of uniqueCountries">
      <mat-list-item>{{ item }}</mat-list-item>
    </mat-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header>
      <h3>Northernmost location:</h3>
    </mat-grid-tile-header>
    <mat-list *ngFor="let item of allStatsData">
      <mat-list-item>{{ item.northernmostLocation }}</mat-list-item>
    </mat-list>
  </mat-grid-tile>

  <mat-grid-tile>
      <mat-grid-tile-header>
          <h3>Southermost location:</h3>
        </mat-grid-tile-header>
        <mat-list *ngFor="let item of allStatsData">
          <mat-list-item>{{ item.southernmostLocation }}</mat-list-item>
        </mat-list>
  </mat-grid-tile>

  <mat-grid-tile>
      <mat-grid-tile-header>
          <h3>Easternmost location:</h3>
        </mat-grid-tile-header>
        <mat-list >
          <mat-list-item></mat-list-item>
        </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-grid-tile-header>
          <h3>Westernmost location</h3>
        </mat-grid-tile-header>
        <mat-list *ngFor="let item of allStatsData">
          <mat-list-item>{{ item.westernmostLocation }}</mat-list-item>
        </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-grid-tile-header>
          <h3>Closest to home location:</h3>
        </mat-grid-tile-header>
        <mat-list >
          <mat-list-item></mat-list-item>
        </mat-list>
  </mat-grid-tile>
</mat-grid-list>

