 <!-- SIDENAV WRAPPER -->
<mat-sidenav-container class="example-container">
  
  <!-- SIDE NAV -->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    Sidenav content
  </mat-sidenav>

  <!-- MAIN CONTENT -->
  <mat-sidenav-content>
    <!-- NAV HEADER -->
    <mat-toolbar color="primary">
      <span>Geo App Basic {{ appName }}</span>
      <!-- SIDE NAV BUTTON -->
      <div class="sidenav-content">
        <button style="width:20px; height: 20px" type="button"  (click)="sidenav.toggle()">
        </button>
      </div>
    </mat-toolbar>
    <!-- CONTENT-->
    <location-block></location-block>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
