
  <mat-expansion-panel >
    <mat-expansion-panel-header >
      <mat-panel-title>
        {{ locationName}}
      </mat-panel-title>
      <mat-panel-description style="position: relative">
       
        <span (click)="onLocationClick()">Remove</span>
      </mat-panel-description>
      
      
    </mat-expansion-panel-header>
    <p>Extra content</p>
    <img width="300" src="https://dev.virtualearth.net/REST/V1/Imagery/Map/Road/50.58856964111328%2C22.046960830688477/13?mapSize=300,300&format=png&key=AjF525jJkMH_mNXo4Aov0_S_jIAYZubFnMxP3AIg4jMkjaqpWL4Hz9SG6BMDUESC" alt="Bing Map">
    
  </mat-expansion-panel>



<!--
<article class="location">
    <div>{{ locationName }}<span class='close' (click)="onLocationClick()">x</span></div>
</article>
-->
