<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ locationObj.loc }}
    </mat-panel-title>
    <mat-panel-description style="position: relative">
      <span (click)="onLocationClick()">Remove</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Location map</p>

  <img
    width="300"
    src="https://dev.virtualearth.net/REST/V1/Imagery/Map/Road/{{
      locationObj.la
    }}%2C{{ locationObj.lo }}/13?mapSize=300,300&format=png&key={{
      locationObj.key
    }}"
    alt="Bing Map"
  />
</mat-expansion-panel>

<!--
<article class="location">
    <div>{{ locationName }}<span class='close' (click)="onLocationClick()">x</span></div>
</article>
-->
