a {
  text-decoration: none;
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: #d3d3d3;
}

.home-wrapper {
  position: relative;
  width: 100vw;
  height: calc(100vh - 140px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.9)), url('../../../assets/images/geo-background.jpg');

}

.home-wrapper__inside {
  height: 30vh;
  width: 70vw;
  margin-left: 100px;
  margin-bottom: 150px;
}
