<div class="home-wrapper">
    <div fxLayout="column" fxLayoutAlign="center center" class="home-wrapper__inside">
        <h1 class="mat-display-3">Hello</h1>
        <h2 class="mat-h2">Pick one of the options:</h2>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <button style="margin-right: 30px" mat-raised-button color="primary">
                <a routerLink="/stepper">Get started</a>
            </button>
            <button mat-raised-button color="accent">
                <a routerLink="/signin">Sign in</a>
            </button>
        </div>
    </div>
</div>