<div class="home-wrapper">
    <div fxLayout="column" fxLayoutAlign="center center" class="home-wrapper__inside">
        <h1>Hello</h1>
        <div style="display: inline-block">
            <h2>
                Learn how to <span><button mat-raised-button color="primary">
                        <a routerLink="/stepper">Get started</a>
                    </button></span>
            </h2>
        </div>
        <div style="display: inline-block">
            <h2>Or <span> <button mat-raised-button color="accent">
                <a routerLink="/signin">Sign in</a>
            </button></span></h2>
           
        </div>
    </div>
</div>