<div fxLayout="row wrap" fxLayoutAlign="space-evenly start">

  <!-- HOME -->
 
  <mat-card>
    <h2 style="text-align:center">Set your home</h2>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="homeName" placeholder="Enter city name" />
    </mat-form-field>
    <button class="button__add-locations" mat-flat-button color="accent" (click)="addHome()">Set home</button>
    <app-location-home *ngFor="let home of homes" [homeObj]="home"></app-location-home>
  </mat-card>

  <!-- ADDING LOCATIONS-->

  <mat-card>
    <h2 style=" text-align:center">Set your locations</h2>
    <p *ngIf="locations.length; else onelocation">Well done! Keep adding!</p>
    <ng-template #onelocation><p>Add your first location!</p></ng-template>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="locationName" placeholder="Enter city name" />
      <mat-error>That's wrong</mat-error>
    </mat-form-field>
    <button class="button__add-locations" mat-flat-button color="primary" (click)="addLocation()">
      Add Location
    </button>

    <mat-accordion>
      <location-item *ngFor="let location of locations" [locationObj]="location"></location-item>
    </mat-accordion>

  </mat-card>

</div>
