<!-- SIDENAV WRAPPER -->
<mat-sidenav-container hasBackdrop class="main-container">
  <!-- SIDE NAV -->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <app-nav-side-list (closeSideNav)="sidenav.close()"></app-nav-side-list>
  </mat-sidenav>

  <!-- MAIN CONTENT -->
  <mat-sidenav-content>
    <app-nav-header (sideNavToggle)="sidenav.toggle()"></app-nav-header>
    <!-- CONTENT-->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
