<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step label="Step 1">
    Content 1
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 2">
    Content 2
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step label="Step 3">
    Content 3
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
  </mat-step>
</mat-vertical-stepper>
