<!-- NAV HEADER -->
<mat-toolbar color="primary">
    <a style="color: white" routerLink="/"><p>Geo App Basic<sup> Beta</sup></p></a>

    <!-- TOGGLE SIDE MENU BUTTON -->
    <div fxHide.gt-xs>
      <button type="button" mat-icon-button 
      (click)="onToggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <ul
      class="routes-wrapper"
      fxFlex
      fxLayout
      fxLayoutGap="20px"
      fxLayoutAlign="flex-end"
      fxHide.xs
    >
      <li>
        <button mat-button><a routerLink="/">Home</a></button>
      </li>
      <li *ngIf="isAuth">
        <button mat-button><a routerLink="/dashboard">Dashboard</a></button>
      </li>
      <li *ngIf="!isAuth">
        <button mat-button><a routerLink="/stepper">Get Started</a></button>
      </li>
      <li *ngIf="!isAuth">
        <button mat-button><a routerLink="/signin">Sign In</a></button>
      </li>
      <li *ngIf="isAuth">
        <button mat-button><a routerLink="/">Sign Out</a></button>
      </li>
    </ul>
  </mat-toolbar>